*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.visible {
  visibility: visible;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.right-\[-108px\] {
  right: -108px;
}

.right-\[5px\] {
  right: 5px;
}

.top-0 {
  top: 0px;
}

.top-\[-50px\] {
  top: -50px;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.m-auto {
  margin: auto;
}

.my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[55px\] {
  margin-bottom: 55px;
}

.mb-\[5px\] {
  margin-bottom: 5px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[14px\] {
  margin-top: 14px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[\] {
  margin-top: ;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[1471px\] {
  height: 1471px;
}

.h-\[2030px\] {
  height: 2030px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[6px\] {
  height: 6px;
}

.h-full {
  height: 100%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[607px\] {
  width: 607px;
}

.w-\[6px\] {
  width: 6px;
}

.w-\[750px\] {
  width: 750px;
}

.w-\[837px\] {
  width: 837px;
}

.w-full {
  width: 100%;
}

.max-w-\[900px\] {
  max-width: 900px;
}

.max-w-\[90px\] {
  max-width: 90px;
}

.max-w-full {
  max-width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.translate-x-\[17\%\] {
  --tw-translate-x: 17%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-3\%\] {
  --tw-translate-y: -3%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[34px\] {
  gap: 34px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-x-\[30px\] {
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.gap-y-\[10px\] {
  row-gap: 10px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[2px\] {
  border-radius: 2px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-dashed {
  border-style: dashed;
}

.border-white-20 {
  border-color: #FFFFFF33;
}

.border-white-40 {
  border-color: #FFFFFF66;
}

.bg-blue-light {
  --tw-bg-opacity: 1;
  background-color: rgb(243 247 248 / var(--tw-bg-opacity, 1));
}

.bg-choose-linear {
  background-color: rgba(2, 33, 59, 0.9);;
}

.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(117 201 152 / var(--tw-bg-opacity, 1));
}

.bg-green-50 {
  background-color: rgba(28, 71, 82, 0.5);
}

.bg-green-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(15 65 88 / var(--tw-bg-opacity, 1));
}

.bg-green-light {
  --tw-bg-opacity: 1;
  background-color: rgb(243 247 248 / var(--tw-bg-opacity, 1));
}

.bg-green-new {
  --tw-bg-opacity: 1;
  background-color: rgb(79 207 94 / var(--tw-bg-opacity, 1));
}

.bg-green-two {
  --tw-bg-opacity: 1;
  background-color: rgb(60 161 177 / var(--tw-bg-opacity, 1));
}

.bg-home-linear {
  background-color: rgba(2, 33, 59, 0.8);;
}

.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white-10 {
  background-color: #FFFFFF1A;
}

.bg-white-20 {
  background-color: #FFFFFF33;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-4 {
  padding: 1rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[24px\] {
  padding: 24px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-center {
  text-align: center;
}

.font-BebasNeue {
  font-family: "Bebas Neue";
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[8px\] {
  font-size: 8px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[10px\] {
  line-height: 10px;
}

.leading-\[16px\] {
  line-height: 16px;
}

.leading-\[17px\] {
  line-height: 17px;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[24px\] {
  line-height: 24px;
}

.leading-\[26px\] {
  line-height: 26px;
}

.leading-\[27px\] {
  line-height: 27px;
}

.leading-\[34px\] {
  line-height: 34px;
}

.leading-\[40px\] {
  line-height: 40px;
}

.leading-\[45px\] {
  line-height: 45px;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(5 34 55 / var(--tw-text-opacity, 1));
}

.text-blue-dark {
  --tw-text-opacity: 1;
  color: rgb(49 135 156 / var(--tw-text-opacity, 1));
}

.text-green {
  --tw-text-opacity: 1;
  color: rgb(117 201 152 / var(--tw-text-opacity, 1));
}

.text-green-two {
  --tw-text-opacity: 1;
  color: rgb(60 161 177 / var(--tw-text-opacity, 1));
}

.text-grey {
  --tw-text-opacity: 1;
  color: rgb(91 99 105 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-white-80 {
  color: #FFFFFFCC;
}

.text-white-90 {
  color: #FFFFFFE5;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[50px\] {
  --tw-backdrop-blur: blur(50px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1530px;
}

@media (max-width: 1600px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 350px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 640px) {
  .sm\:right-\[20px\] {
    right: 20px;
  }

  .sm\:top-\[-75px\] {
    top: -75px;
  }

  .sm\:mb-\[44px\] {
    margin-bottom: 44px;
  }

  .sm\:h-\[150px\] {
    height: 150px;
  }

  .sm\:h-\[300px\] {
    height: 300px;
  }

  .sm\:h-\[30px\] {
    height: 30px;
  }

  .sm\:w-\[150px\] {
    width: 150px;
  }

  .sm\:w-\[230px\] {
    width: 230px;
  }

  .sm\:w-\[300px\] {
    width: 300px;
  }

  .sm\:w-\[30px\] {
    width: 30px;
  }

  .sm\:w-\[328px\] {
    width: 328px;
  }

  .sm\:w-\[408px\] {
    width: 408px;
  }

  .sm\:max-w-\[170px\] {
    max-width: 170px;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sm\:px-\[24px\] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sm\:py-\[14px\] {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .sm\:py-\[57px\] {
    padding-top: 57px;
    padding-bottom: 57px;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-\[13px\] {
    font-size: 13px;
  }

  .sm\:text-\[15px\] {
    font-size: 15px;
  }

  .sm\:text-\[40px\] {
    font-size: 40px;
  }

  .sm\:text-\[45px\] {
    font-size: 45px;
  }

  .sm\:leading-\[16px\] {
    line-height: 16px;
  }

  .sm\:leading-\[45px\] {
    line-height: 45px;
  }

  .sm\:leading-\[50px\] {
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .md\:my-\[40px\] {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .md\:mb-\[14px\] {
    margin-bottom: 14px;
  }

  .md\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .md\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .md\:mb-\[40px\] {
    margin-bottom: 40px;
  }

  .md\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .md\:mb-auto {
    margin-bottom: auto;
  }

  .md\:mt-\[20px\] {
    margin-top: 20px;
  }

  .md\:mt-\[30px\] {
    margin-top: 30px;
  }

  .md\:mt-\[40px\] {
    margin-top: 40px;
  }

  .md\:mt-\[70px\] {
    margin-top: 70px;
  }

  .md\:block {
    display: block;
  }

  .md\:h-\[10px\] {
    height: 10px;
  }

  .md\:h-\[140px\] {
    height: 140px;
  }

  .md\:h-\[24px\] {
    height: 24px;
  }

  .md\:h-\[34px\] {
    height: 34px;
  }

  .md\:h-\[40px\] {
    height: 40px;
  }

  .md\:h-\[450px\] {
    height: 450px;
  }

  .md\:h-\[522px\] {
    height: 522px;
  }

  .md\:h-\[56px\] {
    height: 56px;
  }

  .md\:h-\[60px\] {
    height: 60px;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:w-\[10px\] {
    width: 10px;
  }

  .md\:w-\[140px\] {
    width: 140px;
  }

  .md\:w-\[24px\] {
    width: 24px;
  }

  .md\:w-\[34px\] {
    width: 34px;
  }

  .md\:w-\[40px\] {
    width: 40px;
  }

  .md\:w-\[56px\] {
    width: 56px;
  }

  .md\:w-\[60px\] {
    width: 60px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:max-w-\[220px\] {
    max-width: 220px;
  }

  .md\:max-w-\[250px\] {
    max-width: 250px;
  }

  .md\:max-w-\[260px\] {
    max-width: 260px;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:gap-\[20px\] {
    gap: 20px;
  }

  .md\:gap-\[24px\] {
    gap: 24px;
  }

  .md\:gap-\[30px\] {
    gap: 30px;
  }

  .md\:gap-\[40px\] {
    gap: 40px;
  }

  .md\:gap-y-\[20px\] {
    row-gap: 20px;
  }

  .md\:p-\[30px\] {
    padding: 30px;
  }

  .md\:p-\[40px\] {
    padding: 40px;
  }

  .md\:px-\[14px\] {
    padding-left: 14px;
    padding-right: 14px;
  }

  .md\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .md\:py-\[100px\] {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .md\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .md\:py-\[153px\] {
    padding-top: 153px;
    padding-bottom: 153px;
  }

  .md\:py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .md\:pt-\[100px\] {
    padding-top: 100px;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[17px\] {
    font-size: 17px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[50px\] {
    font-size: 50px;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:leading-\[22px\] {
    line-height: 22px;
  }

  .md\:leading-\[24px\] {
    line-height: 24px;
  }

  .md\:leading-\[26px\] {
    line-height: 26px;
  }

  .md\:leading-\[30px\] {
    line-height: 30px;
  }

  .md\:leading-\[60px\] {
    line-height: 60px;
  }
}

@media (min-width: 1024px) {
  .lg\:mb-\[47px\] {
    margin-bottom: 47px;
  }

  .lg\:w-\[480px\] {
    width: 480px;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:gap-\[30px\] {
    gap: 30px;
  }

  .lg\:p-\[60px\] {
    padding: 60px;
  }

  .lg\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lg\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[80px\] {
    font-size: 80px;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:leading-\[30px\] {
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  .xl\:right-\[67px\] {
    right: 67px;
  }

  .xl\:top-\[-131px\] {
    top: -131px;
  }

  .xl\:order-1 {
    order: 1;
  }

  .xl\:order-2 {
    order: 2;
  }

  .xl\:order-3 {
    order: 3;
  }

  .xl\:order-4 {
    order: 4;
  }

  .xl\:h-\[251px\] {
    height: 251px;
  }

  .xl\:h-\[50px\] {
    height: 50px;
  }

  .xl\:h-full {
    height: 100%;
  }

  .xl\:w-\[251px\] {
    width: 251px;
  }

  .xl\:w-\[488px\] {
    width: 488px;
  }

  .xl\:w-\[50px\] {
    width: 50px;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:gap-\[24px\] {
    gap: 24px;
  }

  .xl\:gap-\[30px\] {
    gap: 30px;
  }

  .xl\:gap-\[56px\] {
    gap: 56px;
  }

  .xl\:gap-y-\[40px\] {
    row-gap: 40px;
  }

  .xl\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .xl\:pr-\[35px\] {
    padding-right: 35px;
  }

  .xl\:text-\[17px\] {
    font-size: 17px;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl\:leading-\[24px\] {
    line-height: 24px;
  }

  .xl\:leading-\[80px\] {
    line-height: 80px;
  }
}

